﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.HeaderTitle</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css"/>
</head>
<body>
<header>
    <nav></nav>
</header>
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>
<footer>
    <div class="footer">
        &copy; 2020 - CognitioSpace - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.min.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>